.default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 24px 42px 24px 42px;
    box-sizing: border-box;
  }
  
  .buttons {
   margin-top: 24px;
  }
  
  .image-wrapper {
    width: 20px;
    height: 20px;
  }
  
  .list-item {
    display: flex;
    gap: 16px;
  }
  
  .list-item-left {
    flex: 1;
    width: 100%;
  }
  
